* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# このファイルは改行コードを制御するために物
# * text=auto この行は、「全ファイルに、text属性にautoという特別な値を指定する」と定めています。「text属性がauto」とは何かというと、あるファイルを「これはテキストファイルだ」とGitが判定したら、改行コードの変換をするという指定になります。つまりautoにすると、変換するかしないかの判定をGitに委ねることになります。